@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

:root {
  --primary-white: #f1f1f1;
  --primary-yellow: #f6aa00;
  --primary-red: #ce0303;
  --primary-green: #7bc47f;
  --primary--blue: #1565c0;
  --primary--gray: #7e7e7e;
  --primary--transparent: #00000050;
  --primary--borderRadius: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  background: url(./assets/pattern.png), rgb(39, 47, 53);
  color: #f1f1f1;
  font-size: 14px;
}

.section-center {
  width: 90%;
  max-width: 1200px;
  margin: 1rem auto;
}

/* overwrite sweatAlert button color */
.swal2-actions .swal2-styled.swal2-confirm {
  background-color: var(--primary--blue);
}
.swal2-actions .swal2-styled.swal2-confirm:focus {
  box-shadow: 0 0 0 3px var(--primary--blue);
}
